# Core data + analytics
pandas>=2.0.0
numpy>=1.23.0

# F1 data
fastf1>=3.7.0
timple==0.1.6
matplotlib==3.9.2
# Dashboard / App
streamlit>=1.37.0

# Optional but useful
plotly>=5.22.0       # for visualizing telemetry/laps
matplotlib>=3.8.0    # for quick plots
